<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ERP</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Main Page", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!-- Customer -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Customer
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="dropdown-item">
                                @Html.ActionLink("Create Customer", "CreateCustomer", "Customer", new { area = "" }, new { @class = "dropdown-item" })
                            </li>
                            <li class="dropdown-item">
                                @Html.ActionLink("List Customers", "List", "Customer", new { area = "" }, new { @class = "dropdown-item" })
                            </li>
                        </ul>
                    </li>
                    <!-- Order -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Order
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="dropdown-item">@Html.ActionLink("Create Order", "CreateOrder", "Order", new { area = "" }, new { @class = "dropdown-item" })</li>
                            <li class="dropdown-item">@Html.ActionLink("List Orders", "List", "Order", new { area = "" }, new { @class = "dropdown-item" })</li>
                        </ul>
                    </li>
                    <!-- Product -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Product
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="nav-item">@Html.ActionLink("Create Product", "CreateProduct", "Product", new { area = "" }, new { @class = "dropdown-item" })</li>
                            <li class="nav-item">@Html.ActionLink("List Products", "List", "Product", new { area = "" }, new { @class = "dropdown-item" })</li>
                        </ul>
                    </li>
                    <!-- Vendor -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Vendor
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="nav-item">@Html.ActionLink("Create Vendor", "CreateVendor", "Vendor", new { area = "" }, new { @class = "dropdown-item" })</li>
                            <li class="nav-item">@Html.ActionLink("List Vendors", "List", "Vendor", new { area = "" }, new { @class = "dropdown-item" })</li>
                        </ul>
                    </li>
                    <!-- Stock -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Stock
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="nav-item">@Html.ActionLink("Create Stock", "CreateOrder", "Stock", new { area = "" }, new { @class = "dropdown-item" })</li>
                            <li class="nav-item">@Html.ActionLink("List Stock", "List", "Stock", new { area = "" }, new { @class = "dropdown-item" })</li>
                        </ul>
                    </li>
                    <!-- Lot -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Lot
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <li class="nav-item">@Html.ActionLink("Create Lot", "CreateLot", "Lot", new { area = "" }, new { @class = "dropdown-item" })</li>
                            <li class="nav-item">@Html.ActionLink("List Lot", "List", "Lot", new { area = "" }, new { @class = "dropdown-item" })</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>